<h1>Show Page for <%= @carrier %></h1>

Total late arrivals: <%= @info['cnt_arr_delay'] %><br />
Total late departures: <%= @info['cnt_dep_delay'] %><br /><br />

Average late arrivals: <%= @info['avg_arr_delay'] %><br />
Average late departures: <%= @info['avg_dep_delay'] %><br />

